<!-- サブタイトル -->
<%= provide(:title, "完了") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>

<!-- 本文 -->
<div id="main">
	<h1>登録完了しました！</h1>
	<p id="btn_area">
		<input type ="button" value= "書籍の詳細に戻る" class="big_btn" onclick="location.href='search_details.html'">
		<input type ="button" value= "本棚への登録に進む" class="big_btn" onclick="location.href='collection_entry.html'">
	</p>
</div><!-- 本文 ここまで -->
