<!-- ヘッダ -->
<%= render 'shared/header' %>

<!-- 本文 -->
<div id="main">
	<h2>新しいパスワードが設定されました。</h2>
	<p><a href="../account/index.html">マイページに移動</a></p>
</div><!-- 本文 ここまで -->


	<p style="clear:both;"></p>
</div><!-- フッター ここまで -->
