<!-- ヘッダ -->
<%= render 'shared/header' %>
<!-- 本文 -->
<div id="main">
	<div id="loginForm">
		<dl>
			<dt>新しいパスワードを入力してください</dt>
			<dd><input type="text"  size="20" maxlength="20"></dd>
			<dt>確認のためもう一度パスワードを入力してください</dt>
			<dd><input type="text"  size="20" maxlength="20"></dd>
		</dl>
		<p><input type="button" value="設定" class="big_btn" onclick="location.href='/password_new/comp.html'"></p>
	</div>
</div><!-- 本文 ここまで -->

<!-- フッター -->
<div id="foot">
	<div id="about_this">
		<h2>ABOUT ホンダナ</h2>
		<p><a href="#">利用ガイド</a></p>
		<p><a href="#">料金</a></p>
		<p><a href="inquiry.html">お問い合わせ</a></p>
		<p><a href="#">利用規約</a></p>
	</div>
	<div id="about_us">
		<h2>ABOUT US</h2>
		<p><a href="#">会社概要</a></p>
	</div>
	<div id="media">
		<h2>メディア</h2>
		<p><a href="#">ブログ</a></p>
		<p><a href="#">メディア掲載情報</a></p>
	</div>
	<p style="clear:both;"></p>
</div><!-- フッター ここまで -->
