<%= provide(:title, "トップ") %>
<!-- ヘッダ -->
<<<<<<< HEAD
<div id="head">
	<h1 id="head_image">
		<a href="index.html"><img src="./assets/title_ico.png" alt="「ホンダナ」のトップに移動する"></a>
	</h1>

	<div id="navigate"><!-- 右ブロック --><% login = 0 %>
		<p class="box">
			<% if login == 0 then %>
				<a href="./login/">
			<% else %>
				<a href="./account/">
			<% end %>
					<img src="./assets/mypage_ico.png" alt="マイページ">
				</a>
		</p>
		<p class="box"><a href="./information/outline/service/"><img src="./assets/this_is_ico.png" alt="このサイトについて"></a></p>
		<div id="head_right">
			<% if login == 0 then %>
			<p>ホンダナにようこそ！</p>
			<p><a href="./login/">ログイン</a>　<a href="./login/new_account.html">新規会員登録</a></p>
			<% else %>
			<p>テストユーザ さん</p>
			<p>現在 0 ブク です <a href="#">ログアウト</a></p>
			<% end %>
		</div>

		<!-- 検索バー -->
		<div id="search_bar">
			<p>
				<input type="text" id="search_box" name="search_box" value="本の検索・登録・交換をする場合はこちらから検索！">
				<input type="button" id="search_btn" name="search_btn" class="search_btn" value="検索"  onClick="location.href='./search/'">
				<a href="./search/details.html">詳細検索</a>
			</p>
		</div>
	</div>
</div>

<% if login == 1 then %>
<!-- ログイン時表示メニュー -->
<div id="member_nav">
	<p><a href="./account/profile/">プロフィール</a></p>
	<p><a href="./trade/">交換一覧</a></p>
	<p><a href="./information/members/notice.html">会員向け告知</a></p>
</div>
<% end %>
=======
<%= render 'shared/header' %>
>>>>>>> fdef4d43a7afffe5cf03f1522ef3bd9aa9926880

<!-- 本文 -->
<div id="main">

	<h2>新着の本</h2>
	<div class="book_box">
		<p><a href="search_details.html">人間失格<br>
		<img src="./assets/a.jpg" class="s_img"></a></p>
	</div>
	<div class="book_box">
		<p>吾輩は猫である<br>
		<img src="http://ecx.images-amazon.com/images/I/51K3MJKDQFL.jpg" class="s_img"></p>
	</div>
	<div class="book_box">
		<p>脅威のプレゼン<br>
		<img src="http://www.nikkeibp.co.jp/article/column/20100730/239565/100804_doi01.jpg" class="s_img"></p>
	</div>
	<div class="book_box">
		<p>走れメロス<br>
		<img src="./assets/b.jpg" class="s_img"></p>
	</div>

	<hr>

	<h2>チュートリアル</h2>
	<p>これを</p>
	<p>こうして</p>
	<p>これを</p>
	<p>こうすると</p>
	<p>こうなって</p>
	<p>できる</p>
	<h2>お知らせ(メンテナンス・障害情報・更新)</h2>
	<p>メンテナンス</p>
	<p>障害</p>
	<p>更新</p>
	<p>更新</p>
	<p>障害</p>
	<p>メンテナンス</p>
</div><!-- 本文 ここまで -->
