<%= provide(:title, "トップ") %>

<%= render 'shared/header' %>


<!-- 本文 -->
<div id="main">

	<h2>新着の本</h2>
	<div class="book_box">
		<p><a href="search_details.html">人間失格<br>
		<img src="./assets/a.jpg" class="s_img"></a></p>
	</div>
	<div class="book_box">
		<p>吾輩は猫である<br>
		<img src="http://ecx.images-amazon.com/images/I/51K3MJKDQFL.jpg" class="s_img"></p>
	</div>
	<div class="book_box">
		<p>脅威のプレゼン<br>
		<img src="http://www.nikkeibp.co.jp/article/column/20100730/239565/100804_doi01.jpg" class="s_img"></p>
	</div>
	<div class="book_box">
		<p>走れメロス<br>
		<img src="./assets/b.jpg" class="s_img"></p>
	</div>

	<hr>

	<h2>チュートリアル</h2>
	<p>これを</p>
	<p>こうして</p>
	<p>これを</p>
	<p>こうすると</p>
	<p>こうなって</p>
	<p>できる</p>
	<h2>お知らせ(メンテナンス・障害情報・更新)</h2>
	<p>メンテナンス</p>
	<p>障害</p>
	<p>更新</p>
	<p>更新</p>
	<p>障害</p>
	<p>メンテナンス</p>
</div><!-- 本文 ここまで -->
