<%= provide(:title, "詳細検索") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>

<!-- 本文 -->
<div id="main">
	<h2>詳細検索</h2>
	<dl>
		<dt>タイトル</dt>
		<dd><input type="text" name="title" size="60" ></dd>
		<dt>著者名</dt>
		<dd><input type="text" name="chocha" size="20" ></dd>
		<dt>ジャンル</dt>
		<dd><input type="text" name="keyword" size="20" ></dd>
		<dt>ISBN</dt>
		<dd><input type="text" name="ISBN" size="50" ></dd>
		<dt>出版社</dt>
		<dd><input type="text" name="shuppan" size="20" ></dd>
	</dl>
	<p id="btn_area">
		<input type="button" class="search_btn" name="search_btn" value="検索"  onClick="location.href='./search.html'">
	</p>
</div><!-- 本文 ここまで -->