<!-- サブタイトル -->
<%= provide(:title, "書籍登録") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>

<!-- 本文 -->
<div id="main">
	<dl>
		<dt>タイトル</dt>
		<dd><input type="text" name="title" size="60" value=""></dd>
		<dt>著者名</dt>
		<dd><input type="text" name="chocha" size="20" value=""></dd>
		<dt>ジャンル</dt>
		<dd><input type="text" name="genre" size="20" ></dd>
		<dt>ISBN</dt>
		<dd><input type="text" name="ISBN" size="50" ></dd>
		<dt>出版社</dt>
		<dd><input type="text" name="shuppan" size="20" value=""></dd>
		<dt>画像のアップロード（任意）</dt>
		<dd><input type="button" name="upfile" size="30" value="画像のアップロード"></dd>
	</dl>
	<p id="btn_area">
		<input type="button" class="big_btn" value="登録" onClick="location.href='./entry_confirm.html'">
		<input type = "button" value= "戻る" onclick="location.href='search.html'" >
	</p>
</div><!-- 本文 ここまで -->
