<!-- ヘッダ -->
<div id="head">
	<h1 id="head_image">
		<a href="../top"><img src="./assets/title_ico.png" alt="「ホンダナ」のトップに移動する"></a>
	</h1>

	<div id="navigate"><!-- 右ブロック -->
		<p class="box"><a href="./account/"><img src="./assets/mypage_ico.png" alt="マイページ"></a></p>
		<p class="box"><a href="./information/outline/service/"><img src="./assets/this_is_ico.png" alt="このサイトについて"></a></p>
		<div id="head_right">
			<p>テストユーザ さん</p>
			<p>現在 0 ブク です</p>
			<p><a href="#">ログアウト</a></p>
		</div>

		<!-- 検索バー -->
		<div id="search_bar">
			<p>
				<input type="text" id="search_box" name="search_box" value="本の検索・登録・交換をする場合はこちらから検索！">
				<input type="button" id="search_btn" name="search_btn" class="search_btn" value="検索"  onClick="location.href='./search/'">
				<a href="./search/details.html">詳細検索</a>
			</p>
		</div>
	</div>
</div>

<!-- 本文 -->
<div id="main">
	<div id="loginForm" class="center">
		<div id="input_area">
			<dl>
				<dt>ログインID:</dt>
				<dd><input type="text" name="email" size="35" maxlength="255" value="" />
				</dd>
				<dt>パスワード:</dt>
				<dd><input type="password" name="password" size="35" maxlength="255" value="" /></dd>
			</dl>
			<p><input type="submit" class="big_btn" value="ログインする" onclick="location.href='mypage.html'" /></p>
		</div>
		<p><a href="./login/new_account.html">新規会員登録</a></p>
		<p><a href="./account_data_remind.html">パスワードを忘れた</a></p>
		<p><a href="./login/penalty.html" style="color: #eee;">debug</a></p>
	</div>
</div><!-- 本文 ここまで -->

<!-- フッター -->
<div id="foot">
	<div id="about_this">
		<h2>ABOUT ホンダナ</h2>
		<p><a href="#">利用ガイド</a></p>
		<p><a href="#">料金</a></p>
		<p><a href="inquiry.html">お問い合わせ</a></p>
		<p><a href="#">利用規約</a></p>
	</div>
	<div id="about_us">
		<h2>ABOUT US</h2>
		<p><a href="#">会社概要</a></p>
	</div>
	<div id="media">
		<h2>メディア</h2>
		<p><a href="#">ブログ</a></p>
		<p><a href="#">メディア掲載情報</a></p>
	</div>
	<p style="clear:both;"></p>
</div><!-- フッター ここまで -->

</body>
</html>
