<!-- サブタイトル -->
<%= provide(:title, "退会ページ") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>


<!-- 本文 -->
<div id="main">
	<p>本当に退会しますか?</p>
	<p>退会をすると0・・・・</p>
	<p>退会をすると1・・・・</p>
	<p>退会をすると2・・・・</p>
	<p>退会をすると3・・・・</p>
	<p>退会をすると4・・・・</p>
	<p>退会をすると5・・・・</p>
	<p>退会をすると6・・・・</p>
	<p>退会をすると7・・・・</p>
	<p>退会をすると8・・・・</p>
	<p>退会をすると9・・・・</p>

	<p id="btn_area">
		<input type="button" value="はい" onClick="location.href='./success.html'">
		<input type="button" class="big_btn" value="いいえ" onClick="location.href='../index.html'">
	</p>
</div><!-- 本文 ここまで -->