<!-- サブタイトル -->
<%= provide(:title, "退会完了") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>
<!-- 本文 -->
<div id="main">
	<p>退会処理が完了しました。またのご利用をお待ちしております。</p>
	<p><a href="./login't_index.html" />トップページ</a></p>
</div><!-- 本文 ここまで -->
