<div id="search_bar">
	<p>
		<input type="text" id="search_box" name="search_box" value="本の検索・登録・交換をする場合はこちらから検索！">
		<input type="button" id="search_btn" name="search_btn" class="search_btn" value="検索"  onClick="location.href='../../../../search=XXXX'">
		<a href="../../../../search/details.html">詳細検索</a>
	</p>
</div>