<!-- サブタイトル -->
<%= provide(:title, "会員向け告知") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>

<!-- ログイン時表示メニュー -->
<div id="member_nav">
	<p><a href="profile.html">プロフィール</a></p>
	<p><a href="exchange_all.html">交換一覧</a></p>
	<p><a href="notice.html">会員向け告知</a></p>
</div>

<!-- 本文 -->
<div id="main">

	<p>表示切り換え：
		<input type="radio" name="score" value="受取側" checked />全て /
		<input type="radio" name="score" value="受取側" />受取側 /
		<input type="radio" name="score" value="送り側" />送信側 /
		<input type="radio" name="score" value="その他" />その他
	</p>

	<div class="msg_box">
		<div class="up_col">
			<div class="descript">
				<p>『人間失格』の交換が完了しました！</p>
			</div>
			<div class="ntc_paragram">
				<p>2014/12/01</p>
			<p onclick="toggle('message');return false;"><a href="#">メッセージを表示する</a></p>
			</div>
		</div>
		<div id="message" class="msg_body">
			<p>
			あなたの出品した蔵書の交換が完了しました。<br>
			交換された蔵書：人間失格<br>
			交換相手：<a href="booklist.html">Aさん</a><br>
			獲得ブク：1<br>
			<br>
			またのご利用をお待ちしています。
			</p>
		</div>
	</div>
	<div class="msg_box">
		<div class="up_col">
			<div class="descript">
				<p>『吾輩は猫である』の交換申請が届きました。</p>
			</div>
			<div class="ntc_paragram">
				<p>2014/11/30</p>
				<p onclick="toggle('message2');return false;"><a href="#">メッセージを表示する</a></p>
			</div>
		</div>
		<div id="message2" class="msg_body">
			<p>
				あなたの出品した蔵書の交換申請が届きました。<br>
				申請された蔵書：吾輩は猫である<br>
				申請相手：Bさん<br>
				<br>
				交換詳細ページへ移動し、交換申請の確認をお願いします。<br>
				<input type="button" onclick="location.href='exchange_details.html'" value="交換詳細ページへ" >
			</p>
		</div>
	</div>
	<div class="msg_box">
		<div class="up_col">
			<div class="descript">
				<p>『金閣寺』発送のお知らせ</p>
			</div>
			<div class="ntc_paragram">
				<p>2014/11/29</p>
				<p onclick="toggle('message3');return false;"><a href="#">メッセージを表示する</a></p>
			</div>
		</div>
		<div id="message3" class="msg_body">
			<p>
			<br>
				あなたが交換申請を出した商品が発送されました。<br>
				申請した蔵書：金閣寺<br>
				申請相手：Aさん<br>
				追跡番号：123456789<br>
				<br>
				交換詳細ページへ移動し、受け取り完了の報告をお願いします。<br>
				<input type="button" onclick="location.href='exchange_details.html'" value="交換詳細ページへ" >
			</p>
		</div>
	</div>
	<div class="msg_box">
		<div class="up_col">
			<div class="descript">
				<p>ようこそホンダナへ！</p>
			</div>
			<div class="ntc_paragram">
				<p>2014/11/29</p>
				<p class="view_msg" href="#" onclick="toggle('message4');return false;">
					<a href="#">メッセージを表示する</a>
				</p>
			</div>
		</div>
		<div id="message4" class="msg_body">
			<p>
				ようこそホンダナへ！<br>
				新しい書籍の形を提案するサービスをぜひご利用下さい。<br>
				ご利用方法についてはこちらをご確認ください。
			</p>
		</div>
	</div>
</div><!-- 本文 ここまで -->