<!-- サブタイトル -->
<%= provide(:title, "パスワード再設定 - メール送信完了") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>

<!-- 本文 -->
<div id="main">
	<h1>メールの送信完了</h1>
	<p><%= @mail_address %></p>


	<p>メールの送信が完了しました。メールが届かない場合、アドレスが間違っている可能性があります。</p>


	<p><a href="./password_new.html" style="color: #eee;">debug</a></p>
</div><!-- 本文 ここまで -->



</body>
</html>
