<!-- サブタイトル -->
<%= provide(:title, "新規登録完了") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>

<!-- 本文 -->
<div id="main">
	<div id="loginForm">
		<h1>登録完了</h1>
		<p>アカウントの登録が完了しました！　「ホンダナ」の世界を楽しんできてください。</p>
		<p><a href="../index">マイページへ移動する</a></p>
	</div>
</div><!-- 本文 ここまで -->