<!-- ヘッダ -->
<div id="head">
	<h1 id="head_image">
		<a href="../top"><img src="../assets/title_ico.png" alt="「ホンダナ」のトップに移動する"></a>
	</h1>

	<div id="navigate"><!-- 右ブロック -->
		<p class="box"><a href="../account/"><img src="../assets/mypage_ico.png" alt="マイページ"></a></p>
		<p class="box"><a href="../information/outline/service/"><img src="../assets/this_is_ico.png" alt="このサイトについて"></a></p>
		<div id="head_right">
			<p>テストユーザ さん</p>
			<p>現在 0 ブク です</p>
			<p><a href="#">ログアウト</a></p>
		</div>

		<!-- 検索バー -->
		<div id="search_bar">
			<p>
				<input type="text" id="search_box" name="search_box" value="本の検索・登録・交換をする場合はこちらから検索！">
				<input type="button" id="search_btn" name="search_btn" class="search_btn" value="検索"  onClick="location.href='./search/'">
				<a href="../search/details">詳細検索</a>
			</p>
		</div>
	</div>
</div>


<!-- 本文 -->
<div id="main">
	<div id="loginForm">
		<h1>登録完了</h1>
		<p>アカウントの登録が完了しました！　「ホンダナ」の世界を楽しんできてください。</p>
		<p><a href="../index">マイページへ移動する</a></p>
	</div>
</div><!-- 本文 ここまで -->