<!-- サブタイトル -->
<%= provide(:title, "新規蔵書登録 - 確認画面") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>
<!-- 本文 -->
<div id="main">

<h1>確認画面</h1>

<%= render 'confirm' %>

<%= link_to '戻る', new_book_path %>
</div><!-- 本文 ここまで -->
