<!-- サブタイトル -->
<%= provide(:title, "新規蔵書登録") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>
<div id="main">

<!-- 本文 -->
<div id="main">
<h3>蔵書登録</h3>

<%= render 'form' %>
<%#= link_to '戻る',search_details(session[:bookinofo_id])%>
<%= link_to '戻る',:back%>
</div><!-- 本文 ここまで -->
