<!-- サブタイトル -->
<%= provide(:title, "交換完了") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>

<!-- 本文 -->
<div id="main">
	<h2>naoya_god さんに交換申請しました！</h2>
	<p>お知らせの確認はマイページより行ってください。</p>
	<p id="btn_area">
		<input type = "button" value= "naoya_god さんの本棚を見る" class="big_btn" onclick="location.href='../../../user/naoya_god.html'">
		<input type = "button" value= "トップに戻る" class="big_btn" onclick="location.href='../../../'">
	</p>
</div><!-- 本文 ここまで -->