<!-- サブタイトル -->
<%= provide(:title, "取引一覧") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>


<!-- 本文 -->
<div id="main">
	<p>表示切り換え：
		<input type="radio" name="score" value="受取側" checked />全て / 
		<input type="radio" name="score" value="受取側" />受取側 / 
		<input type="radio" name="score" value="送り側" />送信側 / 
		<input type="radio" name="score" value="取引済み" />取引済み
	</p>
	
	<h2>交換一覧</h2>
	<div class="book_box">
		<p>吾輩は猫である<br>
		<img src="http://ecx.images-amazon.com/images/I/51K3MJKDQFL.jpg" class="images"></p>
		<p>発送済み<br>
	<a href="booklist.html">Bさん</a></p>
	</div>
	<div class="book_box">
		<p>金閣寺<br>
		<img src="http://ecx.images-amazon.com/images/I/516HEP4GV7L.jpg" class="images"></p>
		<p>発送済み<br>
		<a href="booklist.html">Bさん</a></p>
	</div>
	<div class="book_box">
		<p><a href="exchange_details.html">人間失格<br></a>
		<img src="./img/a.jpg" class="images" ></p>
		<p>発送待ち<br>
		<a href="booklist.html">Aさん</a></p>
	</div>
	<div class="book_box">
		<p>走れメロス<br>
		<img src="./img/b.jpg" class="images"></p>
		<p>申請中<br>
		<a href="booklist.html">Cさん</a></p>
	</div>
</div><!-- 本文 ここまで -->
