<!-- サブタイトル -->
<%= provide(:title, "取引相手選択") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>

<!-- 本文 -->
<% @books.each do |book| %>
<div id="main">
	<h2>交換する人を選んでください。</h2>
	<p>3人見つかりました</p>
	<hr>
	<div id="exchange">
	<table>
		<tr>
			<th>登録ユーザー</th>
			<th>状態</th>
			<th>備考</th>
			<th>操作を選択</th>
		</tr>
		<tr>
			<td><p class="user_name"><a href="../user/naoya_god.html">naoya_god さん</a></p></td>
			<td><%= book.state %></td>
			<td><%= book.remarks %></td>
			<td>
				<input type="button" value="交換" class="big_btn" onclick="location.href='./naoya_god/confirm.html'"><br>
				<input type="button" value="蔵書の詳細を見る" onclick="location.href='../trade/0/naoya_god_details.html'" >
			</td>
		</tr>
		<tr>
			<td><p class="user_name"><a href="#">Bさん</a></p></td>
			<td>普通</td>
			<td>数ページ折れ、ヤケあり。読むのに支障はありません。</td>
			<td>
				<input type="button" value="交換" class="big_btn" onclick="location.href='#'"><br>
				<input type="button" value="蔵書の詳細を見る" onclick="location.href='#'" >
			</td>
		</tr>
		<tr>
			<td><p class="user_name"><a href="#">Cさん</a></p></td>
			<td>良好</td>
			<td>帯あり、汚れありません。</td>
			<td>
				<input type="button" value="交換" class="big_btn" onclick="location.href='#'"><br>
				<input type="button" value="蔵書の詳細を見る" onclick="location.href='#'" >
			</td>
		</tr>
	</table>
	</div>
</div>
<% end %>
<!-- 本文 ここまで -->