<!-- サブタイトル -->
<%= provide(:title, "naoya_god さんの蔵書一覧") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>

<!-- 本文 -->
<div id="main">
	<h1>(1のニックネーム) さんの本棚</h1>
	<p>登録済み蔵書：2冊</p>
	<div class="book_box">
		<p><a href="../trade/1/1/details.html">人間失格<br>
		<img src="/assets/a.jpg" class="images"></a></p>
	</div>
	<div class="book_box">
		<p><a href="../trade/2/1/details.html">走れメロス<br>
		<img src="/assets/b.jpg" class="images"></a></p>
	</div>
	<p id="btn_area">
		<input type = "button" value= "戻る" class="big_btn" onclick="location.href='javascript:history.back()'" >
	</p>
</div><!-- 本文 ここまで -->