<!-- サブタイトル -->
<%= provide(:title, "処理完了") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>

<!-- 本文 -->
<div id="main">
	<h2>削除を完了しました。</h2>
	<p>蔵書の登録によって入手したブクは自動的に減算されます。ご了承ください。</p>
	<p><a href="/account/collection/">蔵書一覧に戻る。</a></p>
</div>
