<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>ログイン失敗</title>
	<link rel="stylesheet" href="../css/layout.css">
	<link rel="stylesheet" href="../css/inline.css">
</head>
<body>

<!-- ヘッダ -->
<div id="head">
	<h1 id="head_image">
		<a href="../login't_index.html"><img src="../img/title_ico.png" alt="「ホンダナ」のトップに移動する"></a>
	</h1>
</div>

<!-- 本文 -->
<div id="main">
	<div id="loginForm">
		<h1>ログイン失敗</h1>
		<p>ログイン失敗回数が閾値を超えました。しばらくたってから再度ログインしてください。</p>
		<p><a href="../login.html">戻る</a></p>
	</div>
</div><!-- 本文 ここまで -->

<!-- フッター -->
<div id="foot">
	<div id="about_this">
		<h2>ABOUT ホンダナ</h2>
		<p><a href="#">利用ガイド</a></p>
		<p><a href="#">料金</a></p>
		<p><a href="inquiry.html">お問い合わせ</a></p>
		<p><a href="#">利用規約</a></p>
	</div>
	<div id="about_us">
		<h2>ABOUT US</h2>
		<p><a href="#">会社概要</a></p>
	</div>
	<div id="media">
		<h2>メディア</h2>
		<p><a href="#">ブログ</a></p>
		<p><a href="#">メディア掲載情報</a></p>
	</div>
	<p style="clear:both;"></p>
</div><!-- フッター ここまで -->

</body>
</html>
