<!-- サブタイトル -->
<%= provide(:title, "このサイトについて") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>

<!-- 本文 -->
<div id="main">
	<div id="about">
		<h3>このサイトについて</h3>
		<p><img src="/images/about1.jpg" alt="このサイトについて(説明)"></p>
		<p><img src="/images/about2.jpg" alt="このサイトについて(ステップ1)"></p>
		<p><img src="/images/about3.jpg" alt="このサイトについて(ステップ2)"></p>
		<p><img src="/images/about4.jpg" alt="このサイトについて(ステップ3)"></p>
		<p><img src="/images/about5.jpg" alt="このサイトについて(ステップ4)"></p>
	</div>
</div><!-- 本文 ここまで -->