<!-- サブタイトル -->
<%= provide(:title, "マイページ") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>

<!-- 本文 -->
<div id="main">
	<div id="added_book">
		<h2>出品中の書籍は　<span class="strong">0 冊</span>　です！</h2>

		<h3>出品中の書籍</h3>
		<p>全20件中　1～10件目を表示</p>
		<div class="inner">
			<div class="book_box">
				<p><img src="http://ecx.images-amazon.com/images/I/51K3MJKDQFL.jpg" class="images"></p>
				<dl>
					<dt>タイトル:</dt>
					<dd>吾輩は猫である</dd>
					<dt>著者:</dt>
					<dd>夏目漱石</dd>
					<dt>本の状態:</dt>
					<dd>非常に良い</dd>
					<dt>備考:</dt>
					<dd>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○</dd>
				</dl>
				<p>
					<input type="button" name="exchange" value="編集" onclick="location.href='./collection/edit.html'">
				</p>
			</div>
			<div class="book_box">
				<p><img src="http://www.nikkeibp.co.jp/article/column/20100730/239565/100804_doi01.jpg" class="images"></p>
				<dl>
					<dt>タイトル:</dt>
					<dd>スティーブ・ジョブズ 脅威のプレゼン</dd>
					<dt>著者:</dt>
					<dd>スティーブ・ジョブズ</dd>
					<dt>本の状態:</dt>
					<dd>普通</dd>
					<dt>備考:</dt>
					<dd>生前ジョブスが残した本です。</dd>
				</dl>
				<p><input type="button" name="exchange" value="編集"></p>
			</div>
			<div class="book_box">
				<p><img src="http://ecx.images-amazon.com/images/I/51K3MJKDQFL.jpg" class="images"></p>
				<dl>
					<dt>タイトル:</dt>
					<dd>吾輩は猫である</dd>
					<dt>著者:</dt>
					<dd>夏目漱石</dd>
					<dt>本の状態:</dt>
					<dd>非常に良い</dd>
					<dt>備考:</dt>
					<dd>5年前に購入した本ですが、目立った傷もなく綺麗です。</dd>
				</dl>
				<p><input type="button" name="exchange" value="編集" onclick="location.href='wagahai_edit.html'"></p>
			</div>
			<div class="book_box">
				<p><img src="http://www.nikkeibp.co.jp/article/column/20100730/239565/100804_doi01.jpg" class="images"></p>
				<dl>
					<dt>タイトル:</dt>
					<dd>スティーブ・ジョブズ 脅威のプレゼン</dd>
					<dt>著者:</dt>
					<dd>スティーブ・ジョブズ</dd>
					<dt>本の状態:</dt>
					<dd>普通</dd>
					<dt>備考:</dt>
					<dd>生前ジョブスが残した本です。</dd>
				</dl>
				<p><input type="button" name="exchange" value="編集"></p>
			</div>
			<div class="book_box">
				<p><img src="http://ecx.images-amazon.com/images/I/51K3MJKDQFL.jpg" class="images"></p>
				<dl>
					<dt>タイトル:</dt>
					<dd>吾輩は猫である</dd>
					<dt>著者:</dt>
					<dd>夏目漱石</dd>
					<dt>本の状態:</dt>
					<dd>非常に良い</dd>
					<dt>備考:</dt>
					<dd>5年前に購入した本ですが、目立った傷もなく綺麗です。</dd>
				</dl>
				<p><input type="button" name="exchange" value="編集" onclick="location.href='wagahai_edit.html'"></p>
			</div>
			<div class="book_box">
				<p><img src="http://www.nikkeibp.co.jp/article/column/20100730/239565/100804_doi01.jpg" class="images"></p>
				<dl>
					<dt>タイトル:</dt>
					<dd>スティーブ・ジョブズ 脅威のプレゼン</dd>
					<dt>著者:</dt>
					<dd>スティーブ・ジョブズ</dd>
					<dt>本の状態:</dt>
					<dd>普通</dd>
					<dt>備考:</dt>
					<dd>生前ジョブスが残した本です。</dd>
				</dl>
				<p><input type="button" name="exchange" value="編集"></p>
			</div>
			<div class="book_box">
				<p><img src="http://ecx.images-amazon.com/images/I/51K3MJKDQFL.jpg" class="images"></p>
				<dl>
					<dt>タイトル:</dt>
					<dd>吾輩は猫である</dd>
					<dt>著者:</dt>
					<dd>夏目漱石</dd>
					<dt>本の状態:</dt>
					<dd>非常に良い</dd>
					<dt>備考:</dt>
					<dd>5年前に購入した本ですが、目立った傷もなく綺麗です。</dd>
				</dl>
				<p><input type="button" name="exchange" value="編集" onclick="location.href='wagahai_edit.html'"></p>
			</div>
			<div class="book_box">
				<p><img src="http://www.nikkeibp.co.jp/article/column/20100730/239565/100804_doi01.jpg" class="images"></p>
				<dl>
					<dt>タイトル:</dt>
					<dd>スティーブ・ジョブズ 脅威のプレゼン</dd>
					<dt>著者:</dt>
					<dd>スティーブ・ジョブズ</dd>
					<dt>本の状態:</dt>
					<dd>普通</dd>
					<dt>備考:</dt>
					<dd>生前ジョブスが残した本です。</dd>
				</dl>
				<p><input type="button" name="exchange" value="編集"></p>
			</div>
			<div class="book_box">
				<p><img src="http://ecx.images-amazon.com/images/I/51K3MJKDQFL.jpg" class="images"></p>
				<dl>
					<dt>タイトル:</dt>
					<dd>吾輩は猫である</dd>
					<dt>著者:</dt>
					<dd>夏目漱石</dd>
					<dt>本の状態:</dt>
					<dd>非常に良い</dd>
					<dt>備考:</dt>
					<dd>5年前に購入した本ですが、目立った傷もなく綺麗です。</dd>
				</dl>
				<p><input type="button" name="exchange" value="編集" onclick="location.href='wagahai_edit.html'"></p>
			</div>
			<div class="book_box">
				<p><img src="http://www.nikkeibp.co.jp/article/column/20100730/239565/100804_doi01.jpg" class="images"></p>
				<dl>
					<dt>タイトル:</dt>
					<dd>スティーブ・ジョブズ 脅威のプレゼン</dd>
					<dt>著者:</dt>
					<dd>スティーブ・ジョブズ</dd>
					<dt>本の状態:</dt>
					<dd>普通</dd>
					<dt>備考:</dt>
					<dd>生前ジョブスが残した本です。</dd>
				</dl>
				<p><input type="button" name="exchange" value="編集"></p>
			</div>
			<p id="btn_c_area">
				<input type = "button" value= "前へ" disabled="disabled">
				<a href="#">1</a> <a href="#">2</a>
				<input type = "button" value= "次へ">
			</p>
		</div>
	</div>

	<div id="col_lside">
		<h2>所持ポイントは<span class="strong">0 ブク</span>です！</h2>

		<div id="favolite">
			<h3>お気に入り</h3>
			<p class="f_title"><a href="search_details.html">人間失格</a></p>
			<p class="f_stock">在庫：　○</p>
			<p class="f_btn">
				<input type="button" name="exchange" value="交換申請する" onclick="location.href='exchange.html'">
			</p>

			<p class="f_title">走れメロス</p>
			<p class="f_stock">在庫：　×</p>
			<p class="f_btn"><input type="button" name="exchange" value="Amazonで探す"></p>
		</div>
	</div>
</div><!-- 本文 ここまで -->