<!-- サブタイトル -->
<%= provide(:title, "プロフィール編集確認") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>

<!-- 本文 -->
<div id="main">
	<div id="cust_body">
		<h3>プロフィール編集確認</h3>
	<p>以下の内容で確定してよろしいですか？</p>
		<table>
			<tr>
				<th scope="row">ログインID</th>
				<td>naoya_god<br /></td>
			</tr>
			<tr>
				<th scope="row">氏名</th>
				<td>鈴木　直哉<br /></td>
			</tr>
			<tr>
				<th scope="row">氏名(フリガナ)</th>
				<td>スズキ　ナオヤ<br /></td>
			</tr>
			<tr>
				<th scope="row">ニックネーム</th>
				<td>ナオヤ<br /></td>
			</tr>
			<tr>
				<th scope="row">メールアドレス</th>
				<td>naoya@docomo.ne.jp<br /></td>
			</tr>
			<tr>
				<th scope="row">パスワード</th>
				<td>セキュリティのため表示されません<br /></td>
			</tr>
			<tr>
				<th scope="row">生年月日</th>
				<td>西暦1993年05月10日<br /></td>
			</tr>
			<tr>
				<th scope="row">住所</th>
				<td>秋田県●○市<br /></td>
			</tr>
			<tr>
				<th scope="row">好きな作家</th>
				<td>太宰治, 三島由紀夫<br /></td>
			</tr>
			<tr>
				<th scope="row">好きなジャンル</th>
				<td>ミステリー<br /></td>
			</tr>
		</table>
		<p id="btn_area">
			<input type="button" value="確定" class="big_btn" onClick="location.href='./index.html'">
			<input type="button" value="戻る" onClick="location.href='./edit.html'">
		</p>
	</div>
</div><!-- 本文 ここまで -->