<!-- サブタイトル -->
<%= provide(:title, "プロフィール") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>

<!-- 本文 -->
<div id="main">
	<div id="cust_body">
		<h3>会員情報</h3>
		<p class="headText">「会員情報の確認ができるよ！」のような説明文</p>
		<table>
			<tr>
				<th scope="row">ログインID</th>
				<td>naoya_god</td>
			</tr>
			<tr>
				<th scope="row">氏名</th>
				<td>鈴木　直哉</td>
			</tr>
			<tr>
				<th scope="row">氏名(フリガナ)</th>
				<td>スズキ　ナオヤ</td>
			</tr>
			<tr>
				<th scope="row">ニックネーム</th>
				<td>ナオヤ</td>
			</tr>
			<tr>
				<th scope="row">メールアドレス</th>
				<td>naoya@docomo.ne.jp</td>
			</tr>
			<tr>
				<th scope="row">パスワード</th>
				<td>セキュリティのため表示されません</td>
			</tr>
			<tr>
				<th scope="row">生年月日</th>
				<td>西暦1993年05月10日</td>
			</tr>
			<tr>
				<th scope="row">住所</th>
				<td>秋田県●○市</td>
			</tr>
			<tr>
				<th scope="row">好きな作家</th>
				<td>太宰治, 三島由紀夫</td>
			</tr>
			<tr>
				<th scope="row">好きなジャンル</th>
				<td>ミステリー</td>
			</tr>
		</table>
		<p id="btn_area">
			<input type="button" value="プロフィール編集" class="big_btn" onclick="location.href='./edit.html'">
			<a href="leave.html" class="small">退会処理を行う</a>
		</p>
	</div>
</div><!-- 本文 ここまで -->