<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>ホンダナ</title>
  <link rel="stylesheet" href="../../assets/stylesheets/layout.css">
  <link rel="stylesheet" href="../../assets/stylesheets/inline.css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<!-- フッター -->
<div id="foot">
	<div id="about_this">
		<h2>ABOUT ホンダナ</h2>
		<p><a href="../information/guide/">利用ガイド</a></p>
		<p><a href="../information/fee/">料金</a></p>
		<p><a href="../support/inquiry/">お問い合わせ</a></p>
		<p><a href="../information/terms/">利用規約</a></p>
	</div>
	<div id="about_us">
		<h2>ABOUT US</h2>
		<p><a href="../information/outline/corporation/">会社概要</a></p>
	</div>
	<div id="media">
		<h2>メディア</h2>
		<p><a href="http://spica-travel.com/blog/" target="_blank">ブログ</a></p>
		<p><a href="../information/news/">メディア掲載情報</a></p>
	</div>
	<p style="clear:both;"></p>
</div>
</body>
</html>
