<!-- サブタイトル -->
<%= provide(:title, "蔵書登録") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>
<!-- 本文 -->
<div id="main">
<h1>会員登録完了</h1>
<p>会員の登録が完了しました。</p>

<%= button_to "トップページに移動","../top/" %>
</div><!-- 本文 ここまで -->